@page "/counter"
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount @teststing</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    
    private int currentCount = 0;

    private string teststing = "";
    private void IncrementCount()
    {
        currentCount++;
    }
    protected override void OnInitialized()
    {
        currentCount += 100;
        List<warframe_TradeBlazorAPP.Components.models.item> items = new();
        using(HttpClient client = new())
        {
            HttpResponseMessage messege = client.GetAsync("https://localhost:7116/api/Warframe").Result;
            teststing = messege.Content.ReadAsStringAsync().Result ?? "https://localhost:7116/api/Warframe";
            items = messege.Content.ReadFromJsonAsync<List<warframe_TradeBlazorAPP.Components.models.item>>().Result ?? new();
        }
    }
}
