@page "/items"
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<ul>
    @foreach(var a in items){
        <li>
            <a href="items/@a.url_name">@a.url_name</a>
        </li>
    }
</ul>

@code {

    private int currentCount = 0;

    private string teststing = "";
    private List<models.Item> items = new();
    private void IncrementCount()
    {
        currentCount++;
    }
    protected override void OnInitialized()
    {
        currentCount += 100;
        using(HttpClient client = new())
        {
            
            HttpResponseMessage messege = client.GetAsync(Environment.GetEnvironmentVariable("Endpoint")).Result;
            teststing = messege.Content.ReadAsStringAsync().Result ?? "https://localhost:7116/api/Warframe";
            items = messege.Content.ReadFromJsonAsync<List<models.Item>>().Result ?? new();
            
        }
    }
}
